body {
    font-family: Arial, sans-serif;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(147, 224, 224);
  }.card {
    margin: 20px;
    background-color: #ffffff2e;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
  }.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  button{
    padding: 10px 50px;
    border-radius: 17px;
    border: 1px solid black;
  }